input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.resto-list {
    width:100%;
    float:left;
}

.resto-list ul {
    width:100%;
    box-sizing: border-box;
    padding: 0 20px;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.resto-list ul li {
    width: 31%;
    box-sizing: border-box;
    margin-right: 1.5%;
    transition: all linear 0.2s 0.2s;
}

.resto-list ul li a {
    position: relative;
}

.resto-detail {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 5px;
}

.detail-left {
    width: 50%;
}

.detail-left h1 {
    font-size: 12px;
    text-transform: capitalize;
    font-family: "futura-bold", serif;
    margin: 0;
    line-height: 1.5;
}

.detail-left p {
    font-size: 12px;
    margin: 5px 0;
    line-height: 1.5;
    text-transform: capitalize;
    font-family: "futura-bold", serif;
}


img {
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
