<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Nearby Restaurant</title>
    <script src="public/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>

<h1>Search Nearby Restaurant</h1>
<form method="post">
    <input type="hidden" name="customer_id" value="1">
    <input type="text" id="lat" name="latitude" value="Readonly Latitude" readonly>
    <input type="text" id="lng" name="longitude" value="Readonly Longitude" readonly>
    <i>e.g: Jakarta, Bogor, Bandung</i>
    <input id="city" type="text" name="city" placeholder="Location" required>
    <input id="btn" type="submit" value="Search">
</form>
{{if .Location}}
<p style="color:#ed145b">Restaurant near {{.Location}}</p>
<div class="resto-list">
    <ul id="ul-resto">
        {{range .Data}}
        <li id="li-resto">
            <a href="restaurant?key={{.RestaurantUrl}}">
                <div class="resto-image" style="position:relative">
                    <img src="/public/pics/{{.RestaurantImage}}">
                </div>
                <div class="resto-detail"> 
                    <div class="detail-left">
                        <p>{{.RadiusKm}} KM away</p>
                        <h1>{{.RestaurantName}}</h1>
                        <p>{{.RestaurantCuisines.CuisinesName}}</p>
                    </div>
                </div>
            </a>
        </li>
        {{end}}
    </ul>
</div>
{{end}}

</body>
</html>
<script type="text/javascript">
$(document).ready(function() {
    $("#city").keyup(function() {
        var input = document.getElementById("city").value;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': input}, function(results, status) {
            if(status == google.maps.GeocoderStatus.OK) {
                $("#lat").val(results[0].geometry.location.lat());
                $("#lng").val(results[0].geometry.location.lng());

            } //else {
              //  alert("Something went wrong" + status);
            //}
        })
    });
});
</script>